.tw-follow-card{
    align-items: center;
    display: flex;
    font-size: 15px;
    /*margin-top: 10px; no es lo idóneo porque si este componente se usa en otro lado tendrá un margin indeseable*/
    justify-content: space-between;
}

.tw-follow-card-header{
    display: flex;
    align-items: center;
    gap: 6px; /*espacio entre componentes*/
}

.tw-follow-card-header img{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
}

.tw-follow-card-header div{
    display: flex;
    flex-direction: column;
}

.tw-follow-card-header span{
    opacity: .6;
}

.tw-follow-card button{
    margin-left: 16px;
    border:0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}

