.tw-follow-card{
    align-items: center;
    display: flex;
    font-size: 15px;
    /*margin-top: 10px; no es lo idóneo porque si este componente se usa en otro lado tendrá un margin indeseable*/
    justify-content: space-between;
}

.tw-follow-card-header{
    display: flex;
    align-items: center;
    gap: 6px; /*espacio entre componentes*/
}

.tw-follow-card-header img{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
}

.tw-follow-card-header div{
    display: flex;
    flex-direction: column;
}

.tw-follow-card-header span{
    opacity: .6;
}

.tw-follow-card-button{
    margin-left: 6px;
    border: 1px solid #000;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease background-color;
    
}
.tw-follow-card-button:hover{
    background-color: rgb(7, 81, 150);
    opacity: .8;
}


.tw-follow-card-button.is-following{
    border: 1px solid #bbb;
    background:transparent;
    color: #fff;
    width:140px;
}

.tw-follow-card-stopfollow{
    display: none;
    
}

.tw-follow-followingnotext{
    display:block;
}

.tw-follow-card-button.is-following:hover{
    background: rgba(121, 16, 16, 0.212);
    color: red;
    border: 1px solid red;
}

.tw-follow-card-button.is-following:hover .tw-follow-card-stopfollow{
    display: block;
}

.tw-follow-card-button.is-following:hover .tw-follow-followingnotext{
    display: none;
}


